*{
    margin: auto;
    text-align: center;
    
}
body{
    background-color: #f3f0f0;
}
.home-title{
    padding: 20px;
    margin-top: 5%;

}
.home-title h1{
    font-size: 50px;
}
.search-section{
    padding: 20px;
    margin-bottom: 2%;
}
.search-section input{
    height: 40px;
    width: 300px;
    text-align: left;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.35) 0px 3px 8px;
}
.search-section button{
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 80px;
    font-weight: bold;
    cursor: pointer;
    background-color: orange;
    margin-left: 1%;
}
.recs-section{
    padding: 5px;
}
.recs-section h2{
    font-size: 30px;
    margin-bottom: 2%;
}
#display-recs{
    padding: 10px;
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
   
}
.recipes{
    box-shadow: rgba(0,0,0,0.4) 0px 2px 4px, rgba(0,0,0,0.3) 0px 7px 13px -3px, rgba(0,0,0,0.2) 0px -3px 0px inset;
    margin: 2%;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}
.recipes button{
    background-color: orange;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    border: none;
    margin-top: 4%;
    margin-bottom: 2%;
    margin-right: 4%;
}
.recipes button a{
    text-decoration: none;
    color: black;
}
.recipes .btn-save{
    width: 80px;
    margin-top: 4%;
    background-color: rgb(202, 181, 145);
    font-weight: bold;
    
}
.recipes img{
    margin-top: 2%;
}
.recipes h3{
    margin-top: 2%;
}
.recipes .ingredients{
    margin-top: 2%;
}