*{
    margin: auto;
    text-align: center;
    
}
body{
    background-color: #f3f0f0;
}

.mealplan-title{
    padding: 20px;
    margin-top: 5%;

}
.mealplan-title h1{
    font-size: 50px;
    margin-bottom: 2%;
}
.mealplanner_input{
    height: 40px;
    width: 300px;
    text-align: left;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.35) 0px 3px 8px;
}

.btn-add-meal{
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    background-color: orange;
    margin-left: 1%;
}

#meal_plan{
    padding: 20px;
}

.meal{
    margin-right: 5%;
    font-weight: bold;
    font-size: 30px;
}
.meal_edit{
    background-color: orange;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    border: none;
    margin-top: 4%;
    margin-bottom: 2%;
    margin-right: 4%;
    font-weight: bold;
}
.meal_delete{
    width: 80px;
    margin-top: 4%;
    background-color: rgb(218, 5, 5);
    font-weight: bold;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    cursor: pointer;
    border: none;
}