.topnav{
    background-color: white;
    overflow: hidden;
}
.topnav a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 14px 16px;
    text-align: center;
    font-size: 17px;
    float: left;
    font-weight: bold;
}
.topnav a:hover{
    background-color: orange;
    
}

.topnav .icon{
    display: none;
}